HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=AzoQGNIuAFjQU9y0YxrDROpgBpcmbvYM

DB_CONNECTION=pg
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_DATABASE=default

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
